@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@import url("https://www.fontstatic.com/f=jazeera,jazeera-light");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'jazeera-light';
}
h1 {
  font-size: 32px;
}
h1 img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 3px solid #ffffff;
  margin-right: 50px;
}
ion-icon {
  font-size: 32px;
  color: #ff0000;
  margin-right: 50px;
  margin-left: 50px;
}


/* ---------- header   --------*/
.veg {
  min-height: 100vh;
  background-color: #2e1700;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: grid;
}


.changecontent::after{
  content: ' ';
  color: rgb(255, 255, 255);
  animation: changetext 10s infinite linear;
  font-weight: bold;
  font-family: 'dancing script', cursive;
}
@keyframes changetext{
  0%{content: "حيث الطبيعة";}
  35%{content: "يأخذك الى عبق التاريخ";}
  70%{content: "الطعم الاصيل";}
  100%{content: "صحتك اولوية";}
}



header {
  position: fixed;
  top: -20px;
  background: black;
  height: 170px;
  border-bottom: 2px solid rgb(255, 0, 0);
  width: 100%;
  z-index: 10;
}

header h1 {
  font-family: 'jazeera-light';
  color: #dbb844;
  letter-spacing: 2px;
  text-align: center;
  padding: 30px 0 20px 0;
  text-transform: uppercase;
}

header nav {
display: flex;
left: 100px;
}

header nav ul {
  display: flex;
}

header nav ul li {
  list-style: none;
  padding: 10px;
}

header nav ul li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 2px;
  transition: 0.4s ease-in;
}

header nav ul li a:hover {
  color: #cda45e;
}

#cart-close {
  width: 125px;
  text-align: center;
  top: 140px;
  font-size: 28px;
  background-color: #06b800;
  border: 1px solid #fff;
  border-radius: 2px;
  cursor: pointer;
  color: #ffffff;
}

.btn-cart {
  width: 150px;
  text-align: right;
  padding-right: 5px;
  border: 1px solid rgb(255, 255, 255);
  outline: 0;
  color: #ffffff;
  background-color: #129d00;
  font-size: 28px;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.4s ease-in;
}

.btn-cart:hover {
  background-color: #cda45e;
  color: #ffffff;
}

.btn-cart i {
  margin-left: 10px;
}

.cart-count {
  position: fixed;
  color: #129d00;
  background-color: #ffffff;
  text-align: center;
  top: 105px;
  right: 457px;
  height: 35px;
  width: 35px;
  padding: 3px;
  line-height: 30px;
  border-radius: 50%;
  font-size: xx-large;
  font-weight: 700;
  z-index: 10;
}

/*.............Cart Section.........*/

.cart {
  position: fixed;
  top: 125px;
  right: -300px;
  width: 300px;
  height: 80%;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #000000;
  color: #cda45e;
  box-shadow: 0 1px 4px rgba(40, 37, 37, 0.1);
  text-transform: uppercase;
  padding: 15px 5px;
  z-index: 100;
}

.cart-active {
  right: 0;
  transition: 0.4s ease;
}

.grand-total {
  background: rgb(0, 0, 0);
  position: fixed;
  top: 0px;
  right: 0px;
  width: 300px;
  height: 130px;
}

.total .total-title {
  text-align: center;
}

.cart-title {
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.cart-box {
  display: grid;
  grid-template-columns: 32% 50% 18%;
  align-items: center;
  gap: 15px;
  margin-top: 20px;
  padding-bottom: 10px;
  border-bottom: 2px solid #cda45e;
}

.cart-img {
  height: 75px;
  width: 75px;
  border-radius: 50%;
  background-color: #292929;
  padding: 5px;
}

.detail-box {
  display: grid;
  row-gap: 15px;
}

.price-box {
  display: flex;
  justify-content: space-between;
}

.cart-food-title {
  font-size: 15px;
  font-weight: 500;
}

.cart-price {
  font-weight: 600;
}

.cart-amt {
  font-weight: 600;
}

/* Ensure the input field is styled to show the arrows */
input[type="number"] {
  appearance: textfield;  /* Standard property */
  -moz-appearance: textfield; /* Firefox */
  -webkit-appearance: textfield; /* WebKit (Chrome, Safari) */
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: inner-spin-button;
  opacity: 1;
}

/* Style the input to make it more visible if necessary */
.cart-quantity {
  width: 40px;
  height: 20px;
  font-size: 16px;
  text-align: center;
  color: #292929;
  background: #cda45e;
  border: 1px solid white;
  outline: none;
}

.cart-remove {
  font-size: 25px;
  cursor: pointer;
  color: #ff0000;
}

.total {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.total-title {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: bolder;
}

.total-price {
  margin-left: 20px;
  font-weight: bolder;
}

/* food main content */
#Plats{
  margin-top: 20px;
  margin-bottom: -100px;
  margin-left: 0px;
}
#Plats h3{
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  font-family: 'dancing script', cursive;
  margin-top: 50px;
  color: #ffffff;
  text-shadow: 1px 1px 1px black;
  border-bottom: 2px solid #ffffff;
}

.changecontentx::after{
  content: ' ';
  color: rgb(255, 0, 0);
  animation: changetextx 10s infinite linear;
  font-weight: bold;
  font-family: 'dancing script', cursive;
}
@keyframes changetextx{
  0%{content: "spageutti";}
  30%{content: "Sea Food";}
  70%{content: "Cheekin Rice";}
  100%{content: "Salade";}
}

#Platsx, #sandwichx, #pizzax, #Burgerx, #juicex, #ice-creamx, #tablex, #sallex {
  margin-top: 100px;
  width: 77%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 0px;
}

#Platsx-active{
  width: 100%;
}

#Platsx .food-box {
  margin-top: 35px;
  height: 360px;
  width: 230px;  
  border: 2px solid #dbb844;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(161,109,14,1);
  box-shadow: 0 0 3px black;
  border-radius: 5px;
  cursor: pointer;
}

#Platsx .food-box img {
  height: 200px;
  width: 150px;
  background: #cda45e;
  border-radius: 50%;
  object-fit: cover;
  padding: 5px;
}

#Platsx .food-box img:hover {
  transform: scaleX(1.5);
  transition: 0.4s ease;
}

#Platsx .food-box .food-title {
  color: #ffffff;
  font-size: 24px;
  font-weight: 500;
  padding: 15px 0px 5px;
}

#Platsx .food-box h3 {
  color: #ffffff;
  font-size: 24px;
  font-weight: 500;
  padding: 10px 0;
}

#Platsx .food-box #food-pricex {
  color: #ffffff;
  font-size: 24px;
  font-weight: 500;
  padding: 10px 0;
}

.food-title, .food-price {
  border-bottom: 1px solid #ffffff;
}

#Platsx .food-box .add-cart {
  background: #cda45e;
  color: #ffffff;
  height: 40px;
  width: 125px;
  font-size: 17px;
  border: 1px solid #cda45e;
  border-radius: 3px;
  margin-top: 15px;
  cursor: pointer;
  transition: 0.4s ease-in;
}

#Platsx .food-box .add-cart:hover {
  color: #ffffff;
  background-color: #1b9902;
  border: 2px solid #cda45e;
  transition: 0.4s ease-in;
}



#sandwich{
  margin-top: -20px;
  margin-bottom: -100px;
  margin-left: -350px;
}
#sandwich h3{
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  font-family: 'dancing script', cursive;
  margin-top: 50px;
  color: #ffffff;
  text-shadow: 1px 1px 1px black;
  border-bottom: 2px solid #ffffff;
}

.changecontentxx::after{
  content: ' ';
  color: rgb(255, 0, 0);
  animation: changetextxx 10s infinite linear;
  font-weight: bold;
  font-family: 'dancing script', cursive;
}
@keyframes changetextxx{
  0%{content: "Makloub";}
  30%{content: "Tacos";}
  70%{content: "Bageutte Farci";}
  100%{content: "au Thon";}
}



#sandwichx .food-box {
  margin-top: 35px;
  height: 320px;
  width: 230px;
  background: rgba(0, 0, 0, 0.6);
  
  border: 2px solid #dbb844;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


  background-color: rgba(161,109,14,1);
  box-shadow: 0 0 3px black;
  border-radius: 5px;
  cursor: pointer;
}

#sandwichx .food-box img {
  height: 150px;
  width: 150px;
  background: #cda45e;
  border-radius: 50%;
  object-fit: cover;
  padding: 5px;
}

#sandwichx .food-box img:hover {
  transform: scale(1.2);
  transition: 0.6s ease-in-out;
}

#sandwichx .food-box .food-title {
  color: #ffffff;
  font-size: 17px;
  font-weight: 500;
  padding: 15px 0px 5px;
}

#sandwichx .food-box h3 {
  color: #cda45e;
  font-size: 17px;
  font-weight: 500;
  padding: 10px 0;
}

#sandwichx .food-box #food-pricex {
  color: #cda45e;
  font-size: 17px;
  font-weight: 500;
  padding: 10px 0;
}

.food-title, .food-price {
  border-bottom: 1px solid #cda45e;
}

#sandwichx .food-box .add-cart {
  color: #ffffff;
  background-color: #1b9902;
  height: 40px;
  width: 125px;
  font-size: 17px;
  border: 1px solid #cda45e;
  border-radius: 3px;
  margin-top: 15px;
  cursor: pointer;
  transition: 0.4s ease-in;
}

#sandwichx .food-box .add-cart:hover {
  color: #ffffff;
  background-color: #cda45e;
  border: 2px solid #1b9902;
  transition: 0.4s ease-in;
}

#pizza{
    margin-top: -20px;
    margin-bottom: -100px;
    margin-left: -350px;
}
#pizza h3{
text-align: center;
  font-size: 32px;
  font-weight: bold;
  font-family: 'dancing script', cursive;
  margin-top: 50px;
  color: #ffffff;
  text-shadow: 1px 1px 1px black;
  border-bottom: 2px solid #ffffff;
}

.changecontent3::after{
  content: ' ';
  color: rgb(255, 0, 0);
  animation: changetext3 10s infinite linear;
  font-weight: bold;
  font-family: 'dancing script', cursive;
}
@keyframes changetext3{
  0%{content: "Magarita";}
  30%{content: "Napolitan";}
  70%{content: "Four Season";}
  100%{content: "Sicilian";}
}

#pizzax-active{
  width: 73%;
}

#pizzax .food-box {
  margin-top: 35px;
  height: 320px;
  width: 230px;
  background: rgba(0, 0, 0, 0.6);
  
  border: 2px solid #dbb844;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


  background-color: rgba(161,109,14,1);
  box-shadow: 0 0 3px black;
  border-radius: 5px;
  cursor: pointer;
}

#pizzax .food-box img {
  height: 150px;
  width: 150px;
  background: #cda45e;
  border-radius: 50%;
  object-fit: cover;
  padding: 5px;
}

#pizzax .food-box img:hover {
  transform: scale(1.2);
  transition: 0.4s ease;
}

#pizzax .food-box .food-title {
  color: #ffffff;
  font-size: 17px;
  font-weight: 500;
  padding: 15px 0px 5px;
}

#pizzax .food-box h3 {
  color: #cda45e;
  font-size: 17px;
  font-weight: 500;
  padding: 10px 0;
}

#pizzax .food-box #food-pricex {
  color: #cda45e;
  font-size: 17px;
  font-weight: 500;
  padding: 10px 0;
}

.food-title, .food-price {
  border-bottom: 1px solid #cda45e;
}

#pizzax .food-box .add-cart {
  background: #cda45e;
  color: #292929;
  height: 40px;
  width: 125px;
  font-size: 17px;
  border: 1px solid #cda45e;
  border-radius: 3px;
  margin-top: 15px;
  cursor: pointer;
  transition: 0.4s ease-in;
}

#pizzax .food-box .add-cart:hover {
  color: #ffffff;
  background-color: #1b9902;
  border: 2px solid #cda45e;
  transition: 0.4s ease-in;
}


#burger{
  margin-top: -20px;
  margin-bottom: -100px;
  margin-left: -350px;
}
#burger h3{
  text-align: center;
    font-size: 32px;
    font-weight: bold;
    font-family: 'dancing script', cursive;
    margin-top: 50px;
    color: #ffffff;
    text-shadow: 1px 1px 1px black;
    border-bottom: 2px solid #ffffff;
  }
  
  .changecontent4::after{
    content: ' ';
    color: rgb(255, 0, 0);
    animation: changetext4 10s infinite linear;
    font-weight: bold;
    font-family: 'dancing script', cursive;
  }
  @keyframes changetext4{
    0%{content: "Hut";}
    30%{content: "Double Cheese";}
    70%{content: "Hum";}
    100%{content: "Nogets";}
  }



#Burgerx-active{
  width: 73%;
}

#Burgerx .food-box {
  margin-top: 35px;
  height: 320px;
  width: 230px;
  background: rgba(0, 0, 0, 0.6);
  
  border: 2px solid #dbb844;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


  background-color: rgba(161,109,14,1);
  box-shadow: 0 0 3px black;
  border-radius: 5px;
  cursor: pointer;
}

#Burgerx .food-box img {
  height: 150px;
  width: 150px;
  background: #cda45e;
  border-radius: 50%;
  object-fit: cover;
  padding: 5px;
}

#Burgerx .food-box img:hover {
  transform: scale(1.2);
  transition: 0.4s ease;
}

#Burgerx .food-box .food-title {
  color: #ffffff;
  font-size: 17px;
  font-weight: 500;
  padding: 15px 0px 5px;
}

#Burgerx .food-box h3 {
  color: #cda45e;
  font-size: 17px;
  font-weight: 500;
  padding: 10px 0;
}

#Burgerx .food-box #food-pricex {
  color: #cda45e;
  font-size: 17px;
  font-weight: 500;
  padding: 10px 0;
}

.food-title, .food-price {
  border-bottom: 1px solid #cda45e;
}

#Burgerx .food-box .add-cart {
  background: #cda45e;
  color: #292929;
  height: 40px;
  width: 125px;
  font-size: 17px;
  border: 1px solid #cda45e;
  border-radius: 3px;
  margin-top: 15px;
  cursor: pointer;
  transition: 0.4s ease-in;
}

#Burgerx .food-box .add-cart:hover {
  color: #ffffff;
  background-color: #1b9902;
  border: 2px solid #cda45e;
  transition: 0.4s ease-in;
}


#juice{
  margin-top: -20px;
  margin-bottom: -100px;
  margin-left: -350px;
}
#juice h3{
  text-align: center;
    font-size: 32px;
    font-weight: bold;
    font-family: 'dancing script', cursive;
    margin-top: 50px;
    color: #ffffff;
    text-shadow: 1px 1px 1px black;
    border-bottom: 2px solid #ffffff;
  }
  
  .changecontent5::after{
    content: ' ';
    color: rgb(255, 0, 0);
    animation: changetext5 10s infinite linear;
    font-weight: bold;
    font-family: 'dancing script', cursive;
  }
  @keyframes changetext5{
    0%{content: "Manga";}
    30%{content: "Orange";}
    70%{content: "Kiwi";}
    100%{content: "Coctaille";}
  }


#juicex-active{
  width: 73%;
}

#juicex .food-box {
  margin-top: 35px;
  height: 320px;
  width: 230px;
  background: rgba(0, 0, 0, 0.6);
  
  border: 2px solid #dbb844;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


  background-color: rgba(161,109,14,1);
  box-shadow: 0 0 3px black;
  border-radius: 5px;
  cursor: pointer;
}

#juicex .food-box img {
  height: 150px;
  width: 150px;
  background: #cda45e;
  border-radius: 50%;
  object-fit: cover;
  padding: 5px;
}

#juicex .food-box img:hover {
  transform: scale(1.2);
  transition: 0.4s ease;
}

#juicex .food-box .food-title {
  color: #ffffff;
  font-size: 17px;
  font-weight: 500;
  padding: 15px 0px 5px;
}

#juicex .food-box h3 {
  color: #cda45e;
  font-size: 17px;
  font-weight: 500;
  padding: 10px 0;
}

#juicex .food-box #food-pricex {
  color: #cda45e;
  font-size: 17px;
  font-weight: 500;
  padding: 10px 0;
}

.food-title, .food-price {
  border-bottom: 1px solid #cda45e;
}

#juicex .food-box .add-cart {
  background: #cda45e;
  color: #292929;
  height: 40px;
  width: 125px;
  font-size: 17px;
  border: 1px solid #cda45e;
  border-radius: 3px;
  margin-top: 15px;
  cursor: pointer;
  transition: 0.4s ease-in;
}

#juicex .food-box .add-cart:hover {
  color: #ffffff;
  background-color: #1b9902;
  border: 2px solid #cda45e;
  transition: 0.4s ease-in;
}



#ice-cream{
  margin-top: -20px;
  margin-bottom: -100px;
  margin-left: -350px;
}
#ice-cream h3{
  text-align: center;
    font-size: 32px;
    font-weight: bold;
    font-family: 'dancing script', cursive;
    margin-top: 50px;
    color: #ffffff;
    text-shadow: 1px 1px 1px black;
    border-bottom: 2px solid #ffffff;
  }
  
  .changecontent6::after{
    content: ' ';
    color: rgb(255, 0, 0);
    animation: changetext6 10s infinite linear;
    font-weight: bold;
    font-family: 'dancing script', cursive;
  }
  @keyframes changetext6{
    0%{content: "Chocolat";}
    30%{content: "Fraise";}
    70%{content: "Vanille";}
    100%{content: "Coctaille";}
  }

#ice-creamx .food-box {
  margin-top: 35px;
  height: 320px;
  width: 210px;  
  border: 2px solid #dbb844;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(161,109,14,1);
  box-shadow: 0 0 3px black;
  border-radius: 5px;
  cursor: pointer;
}

#ice-creamx .food-box img {
  height: 150px;
  width: 150px;
  background: #cda45e;
  border-radius: 50%;
  object-fit: cover;
  padding: 5px;
}

#ice-creamx .food-box img:hover {
  transform: scale(1.2);
  transition: 0.4s ease;
}

#ice-creamx .food-box .food-title {
  color: #ffffff;
  font-size: 17px;
  font-weight: 500;
  padding: 15px 0px 5px;
}

#ice-creamx .food-box h3 {
  color: #cda45e;
  font-size: 17px;
  font-weight: 500;
  padding: 10px 0;
}

#ice-creamx .food-box #food-pricex {
  color: #cda45e;
  font-size: 17px;
  font-weight: 500;
  padding: 10px 0;
}

.food-title, .food-price {
  border-bottom: 1px solid #cda45e;
}

#ice-creamx .food-box .add-cart {
  background: #cda45e;
  color: #292929;
  height: 40px;
  width: 125px;
  font-size: 17px;
  border: 1px solid #cda45e;
  border-radius: 3px;
  margin-top: 15px;
  cursor: pointer;
  transition: 0.4s ease-in;
}

#ice-creamx .food-box .add-cart:hover {
  color: #ffffff;
  background-color: #1b9902;
  border: 2px solid #cda45e;
  transition: 0.4s ease-in;
}



#table h1{
  text-align: center;
  font-size: 48px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #cda45e;
  text-shadow: 1px 1px 1px black;
  border-bottom: 2px solid #cda45e;
}



#tablex .table{
  margin-top: 35px;
  height: 450px;
  width: 47%;
  border: 2px solid #dbb844;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(161,109,14,1);
  box-shadow: 0 0 3px black;
  border-radius: 5px;
  cursor: pointer;
}

#tablex .table img{
  height: 400px;
  width: 100%;
  background: #cda45e;
  border-radius: 5pt;
  object-fit: cover;
  padding: 0px;
}

#tablex .table-name{
  color: #ffffff;
  font-size: 17px;
  font-weight: 500;
  padding: 10px 0;
}




#salle h1{
  text-align: center;
  font-size: 48px;
  font-weight: bold;
  margin-top: 10px;
  color: #cda45e;
  text-shadow: 1px 1px 1px black;
  border-bottom: 2px solid #cda45e;
}


#sallex .salle{
  margin-top: 35px;
  height: 450px;
  width: 47%;
  border: 2px solid #dbb844;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(161,109,14,1);
  box-shadow: 0 0 3px black;
  border-radius: 5px;
  cursor: pointer;
}

#sallex .salle img{
  height: 400px;
  width: 100%;
  background: #cda45e;
  border-radius: 5pt;
  object-fit: cover;
  padding: 0px;
}

#sallex .table-name{
  color: #ffffff;
  font-size: 17px;
  font-weight: 500;
  padding: 10px 0;
}

#location h1{
  text-align: center;
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 50px;
  color: #cda45e;
  text-shadow: 1px 1px 1px black;
  border-bottom: 2px solid #cda45e;
}



/* footer */
#footer{
  border-top: 2px solid #cda45e;

  margin-top: 50px;
  height: 250px;
  width: 73%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white; /* Ensure text color is white */
  padding: 30px 0; /* Add padding to the top and bottom */
}
#footer h1{
  color: white;
  padding-top: 10px;
}
#footer p{
  color: white;
  font-size: x-large;
}
.icons i{
  margin-left: 10px;
  margin-top: 20px;
  background-color: rgb(15, 51, 233);
  color: #fffcfa;
  border-radius: 50px;
  padding: 6px;
  font-size: 30px;
  transition: 0.5s;
  cursor: pointer;
}
.icons i:hover{
  background-color: rgba(161,109,14,1);
  color: white;
}
.copyright{
  font-size: x-large;
  color: white;
  margin-top: 20px;
}
.credite{
  font-size: larger;
  color: white;
}
span{
  font-size: x-large;
  color: #0dcd5a;
}
/* footer */
html{
  scroll-behavior: smooth;
}

#location{
  margin-top: -100px;
}

/* Responsive design */

@media (max-width:768px) {
  .header .nav{
      display: inline-block;
      position: absolute;
      top: 100%;
      right: -100%;
      width: 25rem;
      background-color: green;
      height: 80vh;
  }
  .header .nav.active{
      right: 0;
  }
  .header .nav a{
      display: block;
      font-size: 2rem;
      color: black;
      margin: 1.5rem;
  }

  .home .homeContent{
      margin-left: 0;
      width: 90%;
  }
}

@media (max-width:600px){
  html{
      font-size: 50%;
  }
}
